<div class = "user_link">
  <ul class = "link-ul">
    <li class = "link-li"><%= link_to "登録情報", user_path(current_user), class: "link_btn" %></li>
    <li class = "link-li"><%= link_to "アカウント", edit_user_registration_path, class: "link_btn" %></li>
    <li class = "link-li"><%= link_to "プロフィール", profile_users_path, class: "link_btn" %></li>
  </ul>
</div>
